@keyframes scaleIn {
    from {
        opacity: 0;
        transform: scaleX(0);
    }
    to {
        opacity: 1;
        transform: scaleX(1);
    }
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes moveIn {
    from {
        opacity: 0;
        transform: translateX(400px);
    }
    to {
        opacity: 1;
        transform: translateX(0px);
    }
}


.scaleIn {
    animation: scaleIn 300ms ease-in-out 0s 1;
    transform-origin: left;
}

.fadeIn {
    animation: fadeIn 600ms ease-in 0.5s 1;
}

.moveIn {
    animation: moveIn 300ms ease-in 0s 1;
}
